# 文件夹（/ export-ignore）--------------------------
测试/ export-ignore
audioMute/ export-ignore
.github/ export-ignore
logs/ export-ignore
#文件（ export-ignore）------------------------------
.gitattributes export-ignore
*.log export-ignore